*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #19172e;
}
.title{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding-top:20px;
}
.title h2{
    font-size: xx-large;
    text-transform: uppercase;
}
.title p { 
    line-height: 50px;
    color: rgb(184, 184, 184);
}

#blue h4{
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 89, 255);
}
.ballon-Gallery {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    gap : 1rem;

}
.ballon-Gallery  div{
    width: 90px;
    height: 90px;
    /* border: 1px solid red; */
    font-size: 60px;
    border-radius: 100%;
}

.ballon-Gallery div:nth-child(1n){
    background-color: red;
}
.ballon-Gallery div:nth-child(2n){
    background-color: green;
}
.ballon-Gallery div:nth-child(3n){
    background-color: yellow;
}
.ballon-Gallery div:nth-child(4n){
    background-color: blue;
}
.no-Ballons{
   display: none;
}



footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .ballon-Gallery div{
      width: 50px;
      height: 50px;
    }
    .no-Ballons{
      font-size: 30px;
    }
  }